{% extends "base.html" %}
{% load staticfiles %}
{% block extra_style %}
<link rel="stylesheet" href="{% static "map/css/map.css" %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static "map/js/jQueryRotateCompressed.js" %}"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" %}" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js" %}"></script>
<script src="{% static "map/js/rotated-marker.js" %}"></script>
<script src="{% static "map/js/map.js" %}"></script>
<script src="{% static "map/js/map-ws.js" %}"></script>
	<script type="text/javascript">
	var ll = [{{ airport.lat }}, {{airport.lon}}];
	var static_url="/static/map/";
	function resize_map() {
		var w = $(window).width();
		var h = $(window).height()-50;
		
		$('#map').css({
			width:w,
	    	height:h
		});
		console.debug('resize',w,h);
	}
	$( document ).ready(function() {
		resize_map();
		initMap(ll);
		map_start();
		$(window).resize(resize_map);
		$('#aircraft_list').on("click","li",pan_callsign);
	});
</script>

{% endblock %}

{% block content %}
	<div id="map"></div>
{% endblock %}
{% block extra_navbar_collapse %}
		<ul class="navbar-nav mr-auto">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Aircrafts<span class="caret"></span></a>
					<ul class="dropdown-menu" id="aircraft_list">
						
					</ul>
				</li>
				<p class="navbar-text" id="lat">&nbsp;</p>
				<p class="navbar-text" id="lon">&nbsp;</p>
		</ul>
{% endblock %}
