{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Map |{% endblock %} 
{% block extra_style %}
<link rel="stylesheet" href="{% static "map/css/map.css" %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static "map/js/jQueryRotateCompressed.js" %}"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" %}" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js" %}"></script>
<script src="{% static "map/js/rotated-marker.js" %}"></script>
<script src="{% static "map/js/map.js" %}"></script>
<script src="{% static "map/js/map-ws.js" %}"></script>
	<script type="text/javascript">
	var ll = [{{ airport.lat }}, {{airport.lon}}];
	var static_url="/static/map/";
	function resize_map() {
		var w = $(window).width();
		var h = $(window).height()-50;
		
		$('#map').css({
			width:w,
	    	height:h
		});
		console.debug('resize',w,h);
	}
	$( document ).ready(function() {
		resize_map();
		initMap(ll);
		map_start();
		$(window).resize(resize_map);
		$('#aircraft_list').on("click","a",pan_callsign);
	});
</script>

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12" id="map"></div>
</div>
	
{% endblock %}
{% block extra_navbar_collapse %}
		<ul class="navbar-nav mr-auto">
				<li class="navitem dropdown">
					<a href="#" class="nav-link dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"><span class="fas fa-plane"></span>&nbsp;Aircrafts</a>
					<div class="dropdown-menu" id="aircraft_list">
						
					</div>
				</li>				
		</ul>
		<span class="navbar-text fas fa-map-marker-alt" title="Point location"></span>
		<div class="position"  title="Latitude">
					<span class="navbar-text fas fa-arrows-alt-v"></span>
					<span class="navbar-text" id="lat">&nbsp;</span>
		</div>
		<div class="position" title="Longitude">
					<span class="navbar-text fas fa-arrows-alt-h"></span>
					<span class="navbar-text" id="lon">&nbsp;</span>
		</div>
{% endblock %}
