<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FGServer map</title>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{STATIC_URL}}js/jQueryRotateCompressed.js"></script>
<link rel="stylesheet"
	href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{{STATIC_URL}}js/rotated-marker.js"></script>
<script src="{{STATIC_URL}}js/map.js"></script>

<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<style type="text/css">
#map { height:400px; }
</style>
</head>
<body>
 <div id="map"></div>
 <button type="button" onclick="start();">Start</button><button type="button" onclick="stop();">Stop</button><button type="button" onclick="get_wps();">wps</button>
<script type="text/javascript">
var ll = [{{ airport.lat }}, {{airport.lon}}];
var static_url='{{ STATIC_URL }}';
initMap(ll);
</script>

</body>
</html>