<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FGServer map</title>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{STATIC_URL}}js/jQueryRotateCompressed.js"></script>
<link rel="stylesheet"
	href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<style type="text/css">
#map { height:400px; }
</style>
</head>
<body>
 <div id="map"></div>
 <button type="button" onclick="doit();">DoIt</button><button type="button" onclick="doit2();">DoIt2</button>
<script type="text/javascript">
L.RotatedMarker = L.Marker.extend({
	  options: { angle: 0 },
	  _setPos: function(pos) {
	    L.Marker.prototype._setPos.call(this, pos);
	    if (L.DomUtil.TRANSFORM) {
	      // use the CSS transform rule if available
	      this._icon.style[L.DomUtil.TRANSFORM] += ' rotate(' + this.options.angle + 'deg)';
	    } else if (L.Browser.ie) {
	      // fallback for IE6, IE7, IE8
	      var rad = this.options.angle * L.LatLng.DEG_TO_RAD,
	      costheta = Math.cos(rad),
	      sintheta = Math.sin(rad);
	      this._icon.style.filter += ' progid:DXImageTransform.Microsoft.Matrix(sizingMethod=\'auto expand\', M11=' +
	        costheta + ', M12=' + (-sintheta) + ', M21=' + sintheta + ', M22=' + costheta + ')';
	    }
	  }
	});
L.rotatedMarker = function(pos, options) {
	    return new L.RotatedMarker(pos, options);
	};



var ll = [{{ airport.lat }}, {{airport.lon}}];
var planes={};
var map = L.map('map').setView(ll,13);
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar'}).addTo(map);
addPlane(null);

function addPlane(ev) {
	callsign="VFR-" + Math.round(Math.random()*10) + Math.round(Math.random()*10);
	var planeicon = L.icon({
	    iconUrl: '{{ STATIC_URL }}images/plane-25.png',
	    iconSize: [25, 25],
	    className: callsign,
	});
	var marker = L.rotatedMarker(ll,{icon:planeicon,title:callsign}).addTo(map);
	marker.bearing=180;
	planes[callsign]= marker;
	console.debug(callsign,marker.getLatLng(),marker);
}
function rotate(callsign,adiff) {
	marker = planes[callsign];
	marker.options.angle += adiff;
	marker.setLatLng(marker.getLatLng());
	console.debug(callsign,marker.options.angle,marker);
}
function doit(ev) {
	//marker.setLatLng([-34.454, -58.590]);
	rotate(callsign=Object.keys(planes)[0],-10);//just for testing
}
function doit2(ev) {
	rotate(callsign=Object.keys(planes)[0],+10);//just for testing
}


</script>

</body>
</html>