{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="jumbotron">
<h1 class="display-4">Welcome to FlightGear ATC system</h1>
  <p class="lead">You can use the map, see your recorded flights, or log-in and mess things up with the admin interface.</p>
  <hr class="my-4">
  <p>Check out our Github page <i class="fab fa-github"></i><a href="https://github.com/bartacruz/fgatc">https://github.com/bartacruz/fgatc</a>.</p>
  <a class="btn btn-primary btn-lg" href="/help" role="button">Learn more</a>
</div>
</div>
{% endblock %}