#map {
	height: 100%;
	width: 100%;
	position: relative;
}
.position {
	margin-top:3px;
	margin-bottom: 3px;
	margin-left: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	min-width: 200px;
}
.position span { 
	text-align: right;
	padding: 0px 5px;
	margin: 0px;
}

